@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--background-color: #4e7141;
	--background-color-light: #f9e9c2;
	--button-color: #ff8d06;
	--card-color-dark: #491b02;
	--card-color-light: #ffd9b8;
	--text-color: #fff;
	--main-font: 'Poppins', sans-serif;

	--margin: 2rem;
	--padding: 2rem;
	--bradius: 15px;
}
